<!-- Call to action block
================================================== -->
<section class="call-to-action overlay-bg pd-tb-90" style="background-image: url({{relative_url}}/assets/images/call-to-bg.jpg);">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-9">
                <div class="call-to-content text-center">
                    <h2><span>Geepm</span> is a full-service development agency</h2>
                    <p>We build technology solutions customized for the specific needs of our clients to help them overcome challenges and grow their bottom lines.</p>
                    <a href="" class="call-to-link">Let's Get Talking</a>
                </div><!--  /.call-to-content -->
            </div><!--  /.col-12 -->
        </div><!--  /.row -->
    </div><!--  /.container -->
</section>
<!--  /.call-to-action -->
