<!-- Hamburger Menu
================================================== -->
<div class="hamburger-block"> 
    <div class="overlaybg"></div>
    <div class="hamburger-block-container expand-block">
        <div class="hamburger-search-form">
            <form action="#" method="get" class="searchform">
                <div class="input-group">
                    <input type="text" class="form-controller" placeholder="Your seach item here" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">
                                <span class="fa fa-search" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--  /.hamburger-search-form -->
        <!-- Mobile Nav Close -->
        <div class="close-menu">
            <i class="pe-7s-close"></i>
        </div>
        
        <!-- Main Menu Mobile -->
        <div class="main-mobile-menu" id="mobile-main-menu"></div><!--  /.main-mobile-menu -->

            <!-- Hamburger Widget Area -->
            <div class="hamburger-widget-area">
                <div class="widget">
                    <div class="widget-content">
                        <p>We design and develop web and mobile apps for startups and international brands innovating on any platform</p>
                        <a href="#" class="btn purchase-btn">About Us</a>
                    </div><!--  /.widget-content -->
                </div><!--  /.widget -->
            </div><!--  /.hamburger-widget-area -->
        </div> <!-- /.menu-wrapper --> 
    </div><!-- /.site-navigation -->
</div>
<!--  /.hamburger-block -->
